HOSTNAME=captcha.domain.tld

CAP_ADMIN_KEY=ChangeMeN0w!
CAP_CORS_ORIGIN=*
CAP_ENABLE_ASSETS_SERVER=false
CAP_VERSION='3.1.5'

REDIS_MAX_MEMORY_IN_MB=256
REDIS_PASSWORD=ChangeMeN0w!
REDIS_VERSION='8.8.0'
